LinkedIn Job Search Agent.json
{
  "name": "LinkedIn Job Search: Auto-Match Resume with AI + Cover Letter & Telegram Alerts",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "id": "f8387bef-5046-4bbf-ba3d-4dfed68d31b9",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1808,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "322d750b-2936-40f5-92eb-e72f9e63fc7b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2032,
        608
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 8
      },
      "id": "dc1da251-24de-4a96-921c-c043e17c3d0a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        0,
        192
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that helps match candidates to job opportunities. Your task is to review my resume, then analyze both the resume and job description to calculate a job matching score. Additionally, create a cover letter based on my resume and the job description. The cover letter should contain at least 2 paragraphs and should exclude the name, address, and signature sections from the beginning and end.\nWhen using special characters like quotation marks (\"), ensure they are properly escaped with a backslash. The output must be formatted as valid JSON that can be parsed without errors.\n\nfor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Webhook').item.json.body.resume }}",
        "options": {}
      },
      "id": "371ff195-513f-451b-9252-f55d687520df",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        112,
        448
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jv6MLkkdBoIwhUdMkZ570Zw1ZeEyowz-Uy8Wj0byh1Y",
          "mode": "list",
          "cachedResultName": "Job Search n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jv6MLkkdBoIwhUdMkZ570Zw1ZeEyowz-Uy8Wj0byh1Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 892284067,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jv6MLkkdBoIwhUdMkZ570Zw1ZeEyowz-Uy8Wj0byh1Y/edit#gid=892284067"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $('Modify Job Attributes').item.json.applyLink }}",
            "Title": "={{ $('Modify Job Attributes').item.json.title }}",
            "Location": "={{ $('Modify Job Attributes').item.json.location }}",
            "Company": "={{ $('Modify Job Attributes').item.json.company }}",
            "Description": "={{ $('Modify Job Attributes').item.json.description }}",
            "Score": "={{ $json.score }}",
            "Cover Letter": "={{ $json.coverLetter }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6fef8803-3bdd-4720-8352-569e932283fc",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        720,
        448
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "obOCVUvC9adfJ4oF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1816225266",
        "text": "=Title: {{ $json.Title }}\nCompany:{{ $json.Company }} \nLocation: {{ $json.Location }}\nJob Score: {{ $json.Score }}\nApply: {{ $json.Link }}\nCopy Cover Letter from here - {{ $json['Cover Letter'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ef03427d-ae62-45cc-bc66-b194abc2ef95",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1440,
        304
      ],
      "webhookId": "17b9ebe8-c8d4-4bd9-ad20-45842ddc2c00",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "ZGQTUGCZuhLxeCct",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jv6MLkkdBoIwhUdMkZ570Zw1ZeEyowz-Uy8Wj0byh1Y",
          "mode": "list",
          "cachedResultName": "Job Search n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jv6MLkkdBoIwhUdMkZ570Zw1ZeEyowz-Uy8Wj0byh1Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jv6MLkkdBoIwhUdMkZ570Zw1ZeEyowz-Uy8Wj0byh1Y/edit#gid=0"
        },
        "options": {}
      },
      "id": "4f4d4592-ffd6-4224-9d0e-b8f82a5a0cae",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        672,
        0
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0BTVpF8yky9q7mvr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\";\n\nconst keyword = $input.first().json.keyboard || \"\";\nconst location = $input.first().json.Location || \"\";\nconst experienceLevel = $input.first().json['Experience Level'] || \"\";\nconst remote = $input.first().json.Remote || \"\";\nconst jobType = $input.first().json['Job Type'] || \"\";\nconst easyApply = $input.first().json['Easy Apply'] || \"\";\n\n// Add keyword & location\nif (keyword) url += `&keywords=${encodeURIComponent(keyword)}`;\nif (location) url += `&location=${encodeURIComponent(location)}`;\n\n// Experience Level mapping\nif (experienceLevel) {\n  const transformedExperience = experienceLevel\n    .split(\",\")\n    .map(exp => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry level\": return \"2\";\n        case \"Associate\": return \"3\";\n        case \"Mid-Senior level\": return \"4\";\n        case \"Director\": return \"5\";\n        case \"Executive\": return \"6\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  \n  if (transformedExperience.length > 0) {\n    url += `&f_E=${transformedExperience.join(\",\")}`;\n  }\n}\n\n// Remote mapping\nif (remote) {\n  const transformedRemote = remote\n    .split(\",\")\n    .map(e => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n\n  if (transformedRemote.length > 0) {\n    url += `&f_WT=${transformedRemote.join(\",\")}`;\n  }\n}\n\n// Job Type mapping\nif (jobType) {\n  const transformedJobType = jobType\n    .split(\",\")\n    .map(type => {\n      switch (type.trim()) {\n        case \"Full-time\": return \"F\";\n        case \"Part-time\": return \"P\";\n        case \"Contract\": return \"C\";\n        case \"Temporary\": return \"T\";\n        case \"Other\": return \"O\";\n        case \"Internship\": return \"I\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n\n  if (transformedJobType.length > 0) {\n    url += `&f_JT=${transformedJobType.join(\",\")}`;\n  }\n}\n\n// Easy Apply\nif (easyApply === true || easyApply === \"true\") {\n  url += \"&f_EA=true\";\n}\n\n\nreturn { url };\n"
      },
      "id": "6fce0d90-ac5e-4a61-8742-fa04fbeee5a7",
      "name": "Create search URL",
      "type": "n8n-nodes-base.code",
      "position": [
        864,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "cfded89f-f8a0-48be-bb41-27e12db05bc5",
      "name": "Fetch Jobs from Linkedin",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "id": "fe1dcbe9-2223-4a68-ab68-fdb2dd04dbee",
      "name": "Fetch Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        192,
        192
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cd4f110c-aa0f-4fb1-826e-cec292d24229",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.set",
      "position": [
        480,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "id": "58cb1483-44e0-4d80-bf64-4fb517eb5641",
      "name": "Parse Job Attributes",
      "type": "n8n-nodes-base.html",
      "position": [
        400,
        192
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784ead57-9d83-4e08-b83c-23fa165bf045",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}"
            },
            {
              "id": "fd3c9d2c-5ff9-46a7-b70a-f990fbc7da9d",
              "name": "jobid",
              "type": "string",
              "value": "={{ $json.jobid.split(\":\").last() }}"
            },
            {
              "id": "27a20cd2-ab0d-42b7-9cee-ea64e0e26ea3",
              "name": "applyLink",
              "type": "string",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }} "
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c02fcbf9-7b25-4365-9abd-fec285ea746d",
      "name": "Modify Job Attributes",
      "type": "n8n-nodes-base.set",
      "position": [
        624,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "58c04444-ea51-45d4-92f6-fee4d43d10e3",
      "name": "Extract Job Links",
      "type": "n8n-nodes-base.html",
      "position": [
        1264,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        640
      ],
      "id": "adcbc2f8-ffe3-4eec-970b-03172a8dbbd6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "h4JhiGsaGJ3dRqqS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c4d4245-1a80-4ec0-9517-9ed12a3d6333",
              "leftValue": "={{ $json.Score }}",
              "rightValue": null,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        400
      ],
      "id": "7ba0bd3a-8152-4079-af3a-3aaf00b0b3b1",
      "name": "If1"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2016,
        240
      ],
      "id": "ebabb33f-ef44-49db-adf4-8385c726fc3a",
      "name": "Limit1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AiCoverletter",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c46d350d-2198-4ff1-9df3-4ae54591bfe2",
      "name": "Webhook",
      "webhookId": "bed08c5d-8c18-4b92-a7cd-5908fa9dd8cc"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page": {
      "main": [
        [
          {
            "node": "Parse Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create search URL": {
      "main": [
        [
          {
            "node": "Fetch Jobs from Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Attributes": {
      "main": [
        [
          {
            "node": "Modify Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Job Attributes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from Linkedin": {
      "main": [
        [
          {
            "node": "Extract Job Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2744ea63-fe29-461e-8af0-277f28ba9932",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2efc30b9e9b5bea3801c341fe6fffe5899737d962cbb1037796147ef3b5bb687"
  },
  "id": "Wq5baQjCKpDAfdej",
  "tags": []
}